<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Онлайн магазин</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="main-navbar" aria-label="Toggle navigation"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isAuth" routerLink="/login">Вход</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isAuth" routerLink="/signup">Регистрация</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/product/all">Продукти</a>
      </li>
      <li class="nav-item active">
          <div ngbDropdown class="d-inline-block">
              <a class="nav-link active" style="cursor: pointer" id="categories-dropdown" ngbDropdownToggle>Категории</a>
              <div ngbDropdownMenu aria-labelledby="categories-dropdown">
                <app-category-links></app-category-links>
              </div>
            </div>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link active" style="cursor: pointer" id="admin-dropdown" ngbDropdownToggle>Админ панел</a>
          <div ngbDropdownMenu aria-labelledby="admin-dropdown">
            <button ngbDropdownItem routerLink="/product/create">Добавяне на продукт</button>
            <button ngbDropdownItem routerLink="/category/create">Добавяне на категория</button>
            <button ngbDropdownItem routerLink="/category/all">Категории</button>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isAuth" (click)="logout()">Изход</a>
      </li>
    </ul>
  </div>
</nav>
